body {
	font-family: Tahoma;
	color: #f0f0f0;
}

section#items {
	padding: 50px;
	text-align: center;
	overflow: hidden;
	background-color: #101010;
}

section#items a {
	text-decoration: none;
}

section#items img {
	border: 5px solid white;
	padding: 0;
	max-height: 160px;
	margin: 10px;
}

.item {
	text-align: center;
}

.item img, .item video {
	max-width: 100%;
	margin: auto;
}

section.item {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
